<!DOCTYPE html>
<html lang="en" ng-app="ngApp">

<head>
    <meta charset="utf-8">
    <meta name="description" content="ANGULAR APP">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!-- TITLE -->
    <title>ANGULAR APP</title>
    <!-- GLOBAL STYLES -->
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <h1>ANGULAR APP</h1>

    <hr>

    <div ng-init="qty=1;cost=2">
        <h3>Data Binding Example</h3>
        <b>Invoice:</b>
        <div>
            Quantity: <input type="number" min="0" ng-model="qty">
        </div>
        <div>
            Costs: <input type="number" min="0" ng-model="cost">
        </div>
        <div>
            <b>Total:</b> {{qty * cost | currency}}
        </div>
    </div>

    <hr>

    <h3>Phones List Example</h3>
    <ul ng-controller="PhoneListController">
        <li ng-repeat="phone in phones">
            <span>{{phone.name}}</span>
            <p>{{phone.snippet}}</p>
        </li>
    </ul>

    <hr>

    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="lib/angular/angular.js"></script>
    <script src="app.js"></script>
</body>

</html>
